<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Description of event:</h4>
    <p>More details: <%= @event.description %></p>
    <p>Price: <%= @event.price %> $ </p>
    <p>Capacity: <%= @event.capacity %></p>
    <p>Includes Foods: <%= @event.capacity %></p>




    <p><%= @event.includes_food %> <%= @event.includes_food ? "Yes" : "No" %></p>
    <p><%= @event.includes_drinks %> <%= @event.includes_drinks ? "Yes" : "No" %></p>

_______________DALWE NE YSPELA______________

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <li><%= !@event.has_tv ? ("<s>TV</s>").html_safe : "TV" %></li>
      <li><%= !@event.has_kitchen ? ("<del>Kitchen</del>").html_safe : "Kitchen" %></li>
      <li><%= !@event.has_internet ? ("<del>Internet</del>").html_safe : "Internet" %></li>
      <li><%= !@event.has_heating ? ("<del>Heating</del>").html_safe : "Heating" %></li>
      <li><%= !@event.has_airco ? ("<del>Air Conditioning</del>").html_safe : "Air Conditioning" %></li>
    </ul>

  </div>

</div>

<%= link_to "Back", rooms_path, class: "btn btn-default" %>
