<div class="panel panel-primary my_panel">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Description of event:</h4>
    <p>More details: <%= @event.description %></p>
    <p>Location: <%= @event.location %></p>
    <p>Price: <%= @event.price %> $ </p>
    <p>Capacity: <%= @event.capacity %></p>
    <p>Starts at: <%= @event.starts_at %></p>
    <p>Ends at: <%= @event.ends_at %></p>


    <!-- Amenities -->
    <h4>Extra info:</h4>
    <ul class="amenities">
      <li> Includes food: <%= !@event.includes_food ? ("<s>No</s>").html_safe : "Yes" %></li>
      <li>Includes drinks: <%= !@event.includes_drinks ? ("<s>No</s>").html_safe : "Yes" %></li>
      <li>Is this event active: <%= !@event.active ? ("<s>No</s>").html_safe : "Yes" %></li>
    </ul>

    <h4>Categories</h4>
<% @categories.each do |category| %>
  <span class="label label-success"><%= category.name %></span>
<% end %>

<h4>Photos</h4>
<% @event.photos.each do |photo| %>
  <%= image_tag photo.image.thumbnail_big %>
<% end %>


  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
